/* Add your all CSS Properties for External.html Webpage. */

body{
    align-items: center;
    margin: 97px;
    padding: 30px;
    min-width: 800px;
    max-width: 2440px;
    font-family: monospace;
    scroll-behavior: smooth;
    background-color: burlywood;
    overflow: hidden;
    font-size: 1.2em;
}
h2{
    text-align: center;
    color: darkorchid;
    font-size: 35px;
}
p{
    text-align: center;
    color: black;

}
a{
    text-decoration: none;
    color: blue;
}
.box{
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    background-color: cyan;
    
}